.isVisible {
    visibility: visible;
}
.hidden {
    display: none;
}

.video {
    width: max-content;
    position: relative;
    width: 420px;
    border-radius: 8px;
    @media (max-width: 767px) {
        width: 100%;
    }
}
.action-btn{
    outline: none;
    border: none;
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 40px;

    img {
        height: 75px;
        width: 75px;
    }

    @media (max-width: 767px) {
        img {
            height: 48px;
            width: 48px;
        }
    }
}
.video-container{
    position: relative;
    text-align: center;
}