<div class="video-container">
    <div>
      <video [ngClass]="{'isVisible': showPreview, 'hidden': !showPreview}" id="video-1" class="video" #video autoplay></video>
    </div>
    <video class="video"
            [ngClass]="{'isVisible': !showPreview, 'hidden': showPreview}" controls #recordedVideo></video>
    <br>
    <button class="action-btn" *ngIf="!isRecording && !isRecordCompelte" (click)="startRecording()">
      <img src="/assets/img/play-icon.svg" alt="JSR"/>
    </button>
    <button class="action-btn" *ngIf="isRecording && !isRecordCompelte" (click)="stopRecording()">
      <img src="/assets/img/pause-icon.svg" alt="JSR"/>
    </button>
    <!-- <button class="btn btn-primary btn-lg mx-3" *ngIf="isRecorded" (click)="upload()">Upload Video</button> -->
  </div>