/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@500&family=Lato:wght@300;400&family=Poppins:wght@100;200;300;600;700&family=Roboto:wght@300;700&display=swap');

html {
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}